// Typography
$fs_base: 14px;
$ff_roboto: 'Roboto', sans-serif;
$ff_nunito: 'Nunito', sans-serif;
$ff_openSans: 'Open Sans', sans-serif;

/////////////////////////////////
///////////// COLOR /////////////
/////////////////////////////////

$white: #fff;
$black: #000;
$blue: #0f78b2;
$gray: #484848;

//
//colors
//
$c_text: $gray;
$c_link: $blue;